<div class="underlined">
    <h5 class="font-weight-semi-bold mb-4">Mis pedidos</h5>
</div>
<br>
<div class="card border-secondary mb-5">
    <div class="card-header bg-secondary border-0" style="display: flex;">
        <h6 class="font-weight-semi-bold m-0 col-lg-9 col-md-8 col-12">Pedido #skjdxncjksdnckjsdn</h6>
        <a routerLink="/checkout" class="res-hidden btn btn-primary col-lg-3 col-md-4">Ver detalle</a>
    </div>
    <div class="card-body">
        <h6 class="font-weight-medium">Subtotal</h6>
        <div class="d-flex justify-content-between">
            <h6 class="font-weight-medium">Shipping</h6>
            <h6 class="font-weight-medium">$10</h6>
        </div>
    </div>
    <div class="card-footer res-show">
        <a routerLink="/checkout" class="res-show btn btn-primary col-12">Ver detalle</a>
    </div>
</div>