<div class="row pb-3">
    <div *ngFor="let product of products" class="col-lg-4 col-md-6 col-sm-12 pb-1">
        <div class="card product-item border-0 mb-4">
            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                <a routerLink="/products/{{product.id}}">
                    <img class="img-fluid w-100" src="{{product.imageUrl}}" alt="">
                </a>
            </div>
            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                <a routerLink="/products/{{product.id}}">
                    <h6 class="text-truncate mb-3">{{product.name}}</h6>
                </a>
                <div class="d-flex justify-content-center">
                    <h6>${{product.unitPrice}}</h6>
                    <h6 class="text-muted ml-2"><del>${{product.unitPrice}}</del></h6>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between bg-light border">
                <a routerLink="/products/{{product.id}}" class="btn btn-sm text-dark p-0">
                    <fa-icon [icon]="faEye"></fa-icon> View Detail
                </a>
                <button (click)="addToCart(product)" class="btn btn-sm text-dark p-0">
                    <fa-icon [icon]="faCartShopping"></fa-icon> Agregar al carrito
                </button>
            </div>
        </div>
    </div>
    <!--If empty then-->
    <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
        No se encontraron productos para su búsqueda.....
    </div>
</div>
<div class="row pb-3">
    <ngb-pagination [(page)]="pageNumber"
                    [pageSize]="pageSize"
                    [collectionSize]="totalElements"
                    [boundaryLinks]="true"
                    (pageChange)="listProducts()">
    </ngb-pagination>
</div>