<div class="container-fluid pt-5">
    <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                <hr class="mt-0">
                <h4 class="font-weight-semi-bold col-lg-8">Datos de envío</h4>
                <div formGroupName="customer" class="row">
                    <div class="col-md-6 form-group">
                        <label>Nombre</label>
                        <input formControlName="firstName" class="form-control" type="text" placeholder="John">
                        <div *ngIf="firstName!.invalid && (firstName!.dirty || firstName!.touched)" class="alert alert-danger mt-1" style="margin: 0%; padding: 0 0 0 4px;">
                            <div *ngIf="firstName!.errors!['required']">
                                Nombre requerido
                            </div>
                            <div *ngIf="firstName!.errors!['minlength']">
                                El nombre debe tener al menos 3 caracteres
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Apellido</label>
                        <input formControlName="lastName" class="form-control" type="text" placeholder="Doe">
                        <div *ngIf="lastName!.invalid && (lastName!.dirty || lastName!.touched)" class="alert alert-danger mt-1" style="margin: 0%; padding: 0 0 0 4px;">
                            <div *ngIf="lastName!.errors!['required']">
                                Apellido requerido
                            </div>
                            <div *ngIf="lastName!.errors!['minlength']">
                                El apellido debe tener al menos 3 caracteres
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Tipo identificación</label>
                        <!--<input formControlName="docType" class="form-control" type="text" placeholder="Doe">-->
                        <select class="form-control" name="docType" formControlName="docType">
                            <option value="RC">Registro civil de nacimiento</option>
                            <option value="TI">tarjeta de identidad</option>
                            <option value="CC">Cédula de ciudadanía</option>
                            <option value="TE">Tarjeta de extranjería</option>
                            <option value="CE">Cédula de extranjería</option>
                            <option value="NT">NIT</option>
                            <option value="PA">Pasaporte</option>
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>No. identificación</label>
                        <input formControlName="docNumber" class="form-control" type="text" placeholder="Doe">
                        <div *ngIf="docNumber!.invalid && (docNumber!.dirty || docNumber!.touched)" class="alert alert-danger mt-1" style="margin: 0%; padding: 0 0 0 4px;">
                            <div *ngIf="docNumber!.errors!['required']">
                                Número de identificación requerido
                            </div>
                            <div *ngIf="docNumber!.errors!['minlength']">
                                El número de identificación debe tener al menos 5 caracteres
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Correo electrónico</label>
                        <input formControlName="email" class="form-control" type="text" placeholder="example@email.com">
                        <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="alert alert-danger mt-1" style="margin: 0%; padding: 0 0 0 4px;">
                            <div *ngIf="email!.errors!['required']">
                                Correo requerido
                            </div>
                            <div *ngIf="email!.errors!['pattern']">
                                El correo debe tener un formato valido
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Celular</label>
                        <input formControlName="phone" class="form-control" type="text" placeholder="3228881122">
                        <div *ngIf="phone!.invalid && (phone!.dirty || phone!.touched)" class="alert alert-danger mt-1" style="margin: 0%; padding: 0 0 0 4px;">
                            <div *ngIf="phone!.errors!['required']">
                                Teléfono requerido
                            </div>
                            <div *ngIf="phone!.errors!['minlength'] || phone!.errors!['maxlength']">
                                El número de teléfono debe tener 10 dígitos
                            </div>
                        </div>
                    </div>
                </div>
                <div formGroupName="shippingAddress" class="row">
                    <div class="col-md-6 form-group">
                        <label>Dirección</label>
                        <input formControlName="mainAddress" class="form-control" type="text" placeholder="123 Street">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Complemento</label>
                        <input formControlName="complement" class="form-control" type="text" placeholder="123 Street">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Departamento</label>
                        <input formControlName="department" class="form-control" type="text" placeholder="New York">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Ciudad/Municipio</label>
                        <input formControlName="city" class="form-control" type="text" placeholder="New York">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Localidad/Barrio</label>
                        <input formControlName="state" class="form-control" type="text" placeholder="New York">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Código Postal</label>
                        <input formControlName="zipCode" class="form-control" type="text" placeholder="123">
                    </div>
                    <div class="input-space">
                        <label class="au-checkbox">
                            <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                            <span class="au-checkmark"> ¿Dirección de envío es igual a la de facturación?</span>
                        </label>
                    </div>
                </div>
                <hr class="mt-0">
                <h4 class="font-weight-semi-bold col-lg-8">Datos de facturación</h4>
                <div formGroupName="billingAddress" class="row">
                    <div class="col-md-6 form-group">
                        <label>Dirección</label>
                        <input formControlName="mainAddress" class="form-control" type="text" placeholder="123 Street">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Complemento</label>
                        <input formControlName="complement" class="form-control" type="text" placeholder="123 Street">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Departamento</label>
                        <input formControlName="department" class="form-control" type="text" placeholder="New York">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Ciudad/Municipio</label>
                        <input formControlName="city" class="form-control" type="text" placeholder="New York">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Localidad/Barrio</label>
                        <input formControlName="state" class="form-control" type="text" placeholder="New York">
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Código Postal</label>
                        <input formControlName="zipCode" class="form-control" type="text" placeholder="123">
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        <!--<div class="d-flex justify-content-between">
                            <p>Colorful Stylish Shirt 1</p>
                            <p>$150</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Colorful Stylish Shirt 2</p>
                            <p>$150</p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Colorful Stylish Shirt 3</p>
                            <p>$150</p>
                        </div>-->
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">{{totalPrice | currency: 'USD'}}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">$10</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">{{totalPrice + 10 | currency: 'USD'}}</h5>
                        </div>
                    </div>

                    <div class="card border-secondary mb-5">
                        <!--<div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Payment</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="payment" id="paypal">
                                    <label class="custom-control-label" for="paypal">Paypal</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="payment" id="directcheck">
                                    <label class="custom-control-label" for="directcheck">Direct Check</label>
                                </div>
                            </div>
                            <div class="">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="payment" id="banktransfer">
                                    <label class="custom-control-label" for="banktransfer">Bank Transfer</label>
                                </div>
                            </div>
                        </div>-->
                        <div class="card-footer border-secondary bg-transparent">
                            <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place
                                Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>